/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    /* Fondo predeterminado */
    background-color: #f2f2f2;
}

/* Estilo para el contenedor principal */
.container {
    /* Alineación del contenedor principal */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Imagen de fondo */
    background-image: url('/static/FondoLogin1.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Tamaño de la imagen */
    background-position: center; /* Posición de la imagen */
}

/* Estilos para el contenedor del formulario */
.border {
    background-color: #007BFF; /* Azul de fondo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    backdrop-filter: blur(10px); /* Efecto de desenfoque de fondo */
}

/* Estilos para el título */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilos para los campos de entrada */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para los botones */
button {
    background-color: white; /* Botones blancos */
    color: #007BFF; /* Texto azul */
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: lightgray; /* Fondo gris claro al pasar el ratón */
}

/* Estilos para texto centrado */
.text-center {
    text-align: center;
    font-weight: bold;
}

/* Estilos para margen inferior */
.mb-4 {
    margin-bottom: 1.5rem;
}

/* Estilos para margen superior */
.mt-2 {
    margin-top: 10px;
}

/* Estilos para botones de Facebook */
.btn-outline-primary {
    background-color: #3b5998; /* Azul de Facebook */
    color: white;
    border: 1px solid #3b5998;
}

.btn-outline-primary:hover {
    background-color: white;
    color: #3b5998;
}

/* Estilos para botones de Google */
.btn-outline-danger {
    background-color: #DB4437; /* Rojo de Google */
    color: white;
    border: 1px solid #DB4437;
}

.btn-outline-danger:hover {
    background-color: white; /* Fondo blanco al pasar el ratón */
    color: #DB4437; /* Texto rojo al pasar el ratón */
}

/* Flexbox */
.d-flex {
    display: flex; /* Muestra en flexbox */
}

/* Justificación alrededor */
.justify-content-around {
    justify-content: space-around; /* Espacio entre los elementos */
}

/* Estilos para padding */
.p-2 {
    padding: 10px; /* Padding de 10px */
}

/* Fondo blanco con bordes redondeados */
.bg-white {
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
}

/* Línea divisoria clara */
hr.bg-light {
    background-color: white; /* Color de fondo */
    border: none; /* Sin borde */
    height: 1px; /* Altura de 1px */
}

/* Botón de regreso */
.btn-outline-primary.back-button {
    border: 2px solid #007bff; /* Borde azul */
    color: #007bff; /* Color del texto azul */
    background-color: transparent; /* Fondo transparente */
    border-radius: 50%; /* Bordes redondeados */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    display: flex; /* Flexbox */
    align-items: center; /* Alineación vertical */
    justify-content: center; /* Alineación horizontal */
    font-size: 24px; /* Tamaño de la fuente */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease; /* Transiciones suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilo del botón de regreso al pasar el ratón */
.btn-outline-primary.back-button:hover {
    background-color: #007bff; /* Fondo azul al pasar el ratón */
    color: #fff; /* Texto blanco al pasar el ratón */
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}

/* Estilo del botón de regreso al hacer clic */
.btn-outline-primary.back-button:active {
    transform: scale(0.9); /* Reduce el tamaño al hacer clic */
}

/* Estilos para los videos */
video {
    border: 2px solid #007bff; /* Bordes azules */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-bottom: 20px; /* Espacio inferior */
}
